/* Write your CSS here */
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 100vh;
}
.card-container {
  background-color: #150b3e;
  width: 440px;
  height: 650px;
  border-radius: 10px;
  border: none;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
}
.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.profile-pic {
  background-color: #c7d2fe;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  text-align: center;
  margin-right: 20px;
  color: #7c3aed;
  font-size: 24px;
  font-weight: 600;
  font-family: 'roboto';
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-name {
  color: #d4d2db;
  font-size: 36px;
  font-family: 'roboto';
  font-weight: 500;
}
.balance-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.balance-title {
  color: #585076;
  font-size: 36px;
  font-weight: 500;
  font-family: 'roboto';
}
.balance-amount-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
}
.balance-amount {
  color: #c4c4c4;
  font-size: 30px;
  font-weight: bold;
  font-family: 'roboto';
}
.balance-currency {
  color: #585076;
  font-size: 16px;
  font-family: 'roboto';
  font-weight: 500;
}
.withdraw-title {
  color: #c4c4c4;
  font-size: 30px;
  font-weight: bold;
  font-family: 'roboto';
}
.withdraw-description {
  color: #585076;
  font-size: 16px;
  font-weight: 500;
}
.withdraw-amount-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 2;
}
